<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>React Practice</title>
  <script src="../js/plugin/react/react.js"></script>
  <script src="../js/plugin/react/react-dom.js"></script>
  <script src="../js/plugin/react/browser.min.js"></script>
</head>
<body>
  <p id="ReactDOMrender"></p>
  <p id="jsxDrammar"></p>
     
  <script type="text/babel">
    //一、show html template
    //script type = 'text/babel' , script type = 'text/babel is react unique JSX syntax

    //二、ReactDOM.render()
    ReactDOM.render(
      <span>for ReactDOM.render() function</span>,
      document.getElementById('ReactDOMrender')
    );

    //三、JSX 语法
    var namesArray = ['ReactDOM.render()方法里面:','先写需要的html内容逗号隔开','再获取需要渲染内容的元素','html语言与js可以混写','遇到(< 开头)就解释为HTML','遇到({ 开头)就解释为JavaScript','object.map方法获取数组的元素'];
    ReactDOM.render(
      <ol>
        {
          namesArray.map(function (name) {
            return <li>{name}</li>
          })
        }
      </ol>,
      document.getElementById('jsxDrammar')
    );
  </script>
</body>
</html>