<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>React Practice</title>
  <script src="../js/plugin/react/react.js"></script>
  <script src="../js/plugin/react/react-dom.js"></script>
  <script src="../js/plugin/react/browser.min.js"></script>
  <style>
    #demo2 {
      color: green;
    }
    .demo3 {
      color: pink;
    }
  </style>
</head>
<body>
  <div id="demo1"></div>
  <div id="demo2"></div>
  <div id="demo3"></div>
  <div id="demo4"></div>
  <div id="demo5"></div>
  <div id="demo6"></div>
  <script type="text/babel">

    ReactDOM.render(
      //render text
      <h1>Hello React, Let's begin!</h1>,
      document.getElementById('demo1') 
    );

    //render array one by one
    var names = ['Blair','Sunny','Una'];
    ReactDOM.render(
      <div>
        {names.map(function (name) {
          return <p>Hello, {name}!</p>
        })}
      </div>,
      document.getElementById('demo2')
    )

    //render array by all
    var arrList = [
      <h5>Hello, Blair</h5>,
      <h5>Hello, Sunny</h5>,
      <h5>Hello, Una</h5>,
    ];
    ReactDOM.render(
      <div>
        {arrList}
      </div>,
      document.getElementById('demo3')
    )
    
    //render component ---- this.props.value
    var Component = React.createClass({
      render: function () {
        return <h2 className="demo3">Hello, {this.props.value}</h2>
      }
    })

    ReactDOM.render(
      <Component value="BlairOu"/>,
      document.getElementById('demo4')
    )

    //render component ----- this.props.children
    var ChildList = React.createClass({
      render: function  () {
        return (
          <ul>
            {
              React.Children.map(this.props.children, function (child) {
                return <li>{child}</li>;
              })
            }
          </ul>
        );
      }
    });

    ReactDOM.render(
      <ChildList>
        <span>number one child</span>
        <span>number two child</span>
      </ChildList>,
      document.getElementById('demo5')
    );
  </script>
</body>
</html>